<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>Info</ion-list-header>
    <ion-item>
      <ion-label>Serial</ion-label>
      <ion-note slot="end">{{ scooterData?.serial_number }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Firmware</ion-label>
      <ion-note slot="end">{{ scooterData?.firmware_version }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>BMS</ion-label>
      <ion-note slot="end">{{ scooterData?.bms_code }}</ion-note>
    </ion-item>

    <ion-list-header>Velocidades</ion-list-header>
    <ion-item>
      <ion-label>Velocidad</ion-label>
      <ion-note slot="end">{{ scooterData?.speed }}Km/h</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Velocidad media</ion-label>
      <ion-note slot="end">{{ scooterData?.avg_speed }}Km/h</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Velocidad máxima</ion-label>
      <ion-note slot="end">{{ scooterData?.avg_speed }}Km/h</ion-note>
    </ion-item>

    <ion-list-header>Distancia</ion-list-header>
    <ion-item>
      <ion-label>Distancia del viaje</ion-label>
      <ion-note slot="end">{{ scooterData?.distance_travelled }}Km</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Distancia total</ion-label>
      <ion-note slot="end">{{ scooterData?.total_distance }}Km</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Distancia restante</ion-label>
      <ion-note slot="end">{{ scooterData?.distance_remaining }}Km</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Temperatura motor</ion-label>
      <ion-note slot="end">{{ scooterData?.motor_temperature }}ºC</ion-note>
    </ion-item>

    <ion-list-header>Batería</ion-list-header>
    <ion-item>
      <ion-label>Carga</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_life }}%</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Serial</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_serial }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de fabricación</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_date }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Salud</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_health }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Temperatura</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_temp1 }}ºC / {{ scooterData?.battery_temp2 }}ºC</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Capacidad</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_remaining_capacity }} / {{ scooterData?.battery_design_capacity }} mAh</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Intensidad</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_ampere }}A</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Tensión</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_voltage }}V</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Potencia</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_power }}W</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Ciclos de carga</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_charges }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Media por carga</ion-label>
      <ion-note slot="end">{{ scooterData?.battery_avg_charge }}</ion-note>
    </ion-item>

    <ion-list-header>Opciones</ion-list-header>
    <ion-item>
      <ion-label>Crucero</ion-label>
      <ion-toggle *ngIf="scooterData" [(ngModel)]="scooterData.cruise_mode"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Luz trasera</ion-label>
      <ion-toggle *ngIf="scooterData" [(ngModel)]="scooterData.light_mode"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Bloqueo</ion-label>
      <ion-toggle *ngIf="scooterData" [(ngModel)]="scooterData.lock_mode"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>KERS</ion-label>
      <ion-note slot="end">{{ scooterData?.recovery_mode }}</ion-note>
    </ion-item>

  </ion-list>

</ion-content>