<ion-header>
  <ion-toolbar>
    <ion-title>M365</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="power"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-slides pager="true" #slides [options]="slideOptions">
    <ion-slide>
      <div class="container">
        <div class="row">
          <div class="col">
            150W<span>Potencia</span>
          </div>
          <div class="col">
            150W<span>Potencia máxima</span>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <div class="speed">23<span>7</span></div>

        <div class="options">
          <div>56%</div>
          <div>120W</div>
        </div>
        <div class="line"></div>
        <div class="travel">
          <div>12,6<span>Km</span></div>
          <div>05:35</div>
        </div>
        <div class="actions">
          <ion-fab-button>
            <ion-icon name="flash"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="unlock"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="flashlight"></ion-icon>
          </ion-fab-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container margin">
        <ion-list lines="inset" inset="true">
          <ion-item>
            <ion-label>Pokémon Yellow</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Mega Man X</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>The Legend of Zelda</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Pac-Man</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Super Mario World</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>