<ion-header>
  <ion-toolbar>
    <ion-title>M365</ion-title>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="power"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="options"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-slides pager="true" #slides [options]="slideOptions">
    <ion-slide>
      <div class="container">
        <div class="row">
          <div class="col">
            {{ scooterData?.battery_min_power }}<span>W</span>
            <div>Potencia mínima</div>
          </div>
          <div class="col">
            {{ scooterData?.battery_max_power }}<span>W</span>
            <div>Potencia máxima</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ scooterData?.avg_speed }}<span>Km/h</span>
            <div>Velocidad media</div>
          </div>
          <div class="col">
            {{ scooterData?.max_speed }}<span>Km/h</span>
            <div>Velocidad máxima</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ scooterData?.distance_travelled }}<span>Km</span>
            <div>Distancia recorrida</div>
          </div>
          <div class="col">
            {{ scooterData?.distance_remaining }}<span>Km</span>
            <div>Distancia restante</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ scooterData?.total_distance }}<span>Km</span>
            <div>Distancia total</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ scooterData?.motor_temperature }}<span>ºC</span>
            <div>Temp. motor</div>
          </div>
          <div class="col">
            {{ Math.max(scooterData?.battery_temp1, scooterData?.battery_temp1) }}<span>ºC</span>
            <div>Temp. batería</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ scooterData?.battery_remaining_capacity }}<span>mAh</span>
            <div>Capacidad restante</div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <div class="speed">{{ formatSpeed(scooterData?.speed) }}<span>{{ getDecimal(scooterData?.speed) }}</span></div>

        <div class="options">
          <div>{{ scooterData?.battery_life }}%</div>
          <div>{{ scooterData?.battery_power }}W</div>
        </div>
        <div class="line"></div>
        <div class="travel">
          <div>{{ scooterData?.distance_travelled }}<span>Km</span></div>
          <div>{{ scooterData?.uptime }}</div>
        </div>
        <div class="actions">
          <ion-fab-button>
            <ion-icon name="compass"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="lock" *ngIf="scooterData.lock_mode"></ion-icon>
            <ion-icon name="unlock" *ngIf="!scooterData.lock_mode"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="flash" *ngIf="scooterData.light_mode"></ion-icon>
            <ion-icon name="flash-off" *ngIf="!scooterData.light_mode"></ion-icon>
          </ion-fab-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container margin">
        <ion-list lines="inset" inset="true">
          <ion-list-header>Info</ion-list-header>
          <ion-item>
            <ion-label>Serial</ion-label>
            <ion-note slot="end">{{ scooterData?.serial_number }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Firmware</ion-label>
            <ion-note slot="end">{{ scooterData?.firmware_version }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>BMS</ion-label>
            <ion-note slot="end">{{ scooterData?.bms_code }}</ion-note>
          </ion-item>

          <ion-list-header>Batería</ion-list-header>
          <ion-item>
            <ion-label>Serial</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_serial }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Fecha de fabricación</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_date }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Carga</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_life }}%</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Salud</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_health }}%</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Temperatura</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_temp1 }}ºC / {{ scooterData?.battery_temp2 }}ºC</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Capacidad</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_remaining_capacity }} / {{
              scooterData?.battery_design_capacity }} mAh</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Intensidad</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_ampere }}A</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Tensión</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_voltage }}V</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Potencia</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_power }}W</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Potencia Máxima</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_max_power }}W</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Potencia Minima</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_min_power }}W</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Ciclos de carga</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_charges }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Ciclos de carga completas</ion-label>
            <ion-note slot="end">{{ scooterData?.battery_full_charges }}</ion-note>
          </ion-item>

          <ion-list-header *ngIf="scooterData && scooterData.voltage_cells">Voltajes de celdas</ion-list-header>
          <ion-item *ngFor="let cell of scooterData.voltage_cells">
            <ion-label>{{ cell }}V</ion-label>
          </ion-item>

          <ion-list-header>Opciones</ion-list-header>
          <ion-item>
            <ion-label>Crucero</ion-label>
            <ion-toggle *ngIf="scooterData" [(ngModel)]="scooterData.cruise_mode"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Luz trasera</ion-label>
            <ion-toggle *ngIf="scooterData" [(ngModel)]="scooterData.light_mode"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Bloqueo</ion-label>
            <ion-toggle *ngIf="scooterData" [(ngModel)]="scooterData.lock_mode"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>KERS</ion-label>
            <ion-select *ngIf="scooterData" [(ngModel)]="scooterData.recovery_mode" interface="action-sheet">
              <ion-select-option value="0">Bajo</ion-select-option>
              <ion-select-option value="1">Medio</ion-select-option>
              <ion-select-option value="2">Alto</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>